body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.col-md-6 {
  padding-left: 0px !important; 
  padding-right: 0px !important;
}
.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.center {
  align-items: center; 
  display: flex; 
  flex-direction:column;
}

@media (max-width: 525px) {
  .order {
    order: 2;
  }
  .center {
    order: 1;
  }
}

.menu-container > h1 {
  color: white;
  margin-bottom: 40px;
  cursor: pointer;
  width: auto !important;
}